{% extends 'base.html' %}
{% load static %}
{% block content %}
       <section id="verify_email" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Verify Email Address</h4>
                <h6>Please enter otp send to your email address!</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'verify_otp' %}" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                  <input type="email" name="email" value="{{email}}" hidden>
                  <input type="text" name = "username" value="{{username}}" hidden>
                  <input type="text" name = "first_name" value="{{first_name}}" hidden>
                  <input type="text" name ="last_name" value="{{last_name}}" hidden>
                  <input type="password" name="password" value="{{password}}" hidden>
                  <input type="text" name="user_type" value="{{user_type}}" hidden>
                  <label for="otp">OTP:</label>
                  <input type="number" name="otp2" class="form-control" required>
                </div>
                <input type="submit" value="Submit" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}